@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
}

@layer base {
  * {
    scroll-behavior: smooth;
  }
}

@keyframes oscillate {
  from {
    translate: 0% 0%;
  }
  to {
    translate: -25% 0%;
  }
}

.oscillate-scroll {
  animation: oscillate 20s linear infinite alternate;
}
